@namespace Waizor.Components
@inherits ComponentBase

<RovingFocusItem For="@(() => elementReference)" />

<button type="button" 
        aria-expanded="@AccordionItem.Open.ToString().ToLower()" 
        aria-controls="@AccordionItem.PanelId" 
        id="@AccordionItem.TriggerId" 
        class="@Class" 
        data-state="@(AccordionItem.State.ToString().ToLowerInvariant())"
        data-disabled="@AccordionItem.Disabled"
        data-orientation="@AccordionItem.Accordion.Orientation.ToString().ToLowerInvariant()"
        disabled="@AccordionItem.Disabled"
        @onclick="OnClickAsync"
        @ref="elementReference">
    @ChildContent 
</button>
